@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';

@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/js/filament/rich-content-plugins/**/*';

@source '../../../../vendor/athphane/filament-editorjs/resources/views/**/*.blade.php';
